.center {
    text-align: center;
}

.form {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    width: 100%
}

.large-text-box {
    height: 90px;
    width: 90%;
}

#image {
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.question {
    border: 5px groove #A40000;
    border-radius: 29px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: -20px 9px 29px -11px rgba(87,8,87,1);
    -moz-box-shadow: -20px 9px 29px -11px rgba(87,8,87,1);
    box-shadow: -20px 9px 29px -11px rgba(87,8,87,1);
}

body {
    font-family: 'Roboto Mono', monospace;
}

.signature {
    text-align: end;
}

.btn {
    display: block;
    width: 100%;
    text-align: start;
    margin-left: 23%
}

.submit-btn {
    margin-left: auto;
    margin-right: auto;
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #993013 5%, #bc3315 100%);
	background-color:#993013;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.submit-btn:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #993013 100%);
	background-color:#bc3315;
}

.submit-btn:active {
    position:relative;
	top:1px;
}