.center {
    text-align: center;
}

.form {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    width: 100%
}

.large-text-box {
    height: 90px;
    width: 90%;
}

#image {
    display: block;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.question {
    border: 5px groove #A40000;
    border-radius: 29px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: -20px 9px 29px -11px rgba(87,8,87,1);
    -moz-box-shadow: -20px 9px 29px -11px rgba(87,8,87,1);
    box-shadow: -20px 9px 29px -11px rgba(87,8,87,1);
}

body {
    font-family: 'Roboto Mono', monospace;
}

.signature {
    text-align: end;
}